* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
}

body {
    --color: #bada55;
}

.container {
    max-width: 1600px;
    margin: 1rem auto;
    width: 90%;
}

.underline {
    height: 1rem;
    width: 80%;
    margin: 2rem auto;
    background-color: var(--color);

}

.border {
    width: 100%;
    border: 1rem solid var(--color);
}

header div.headline {
    text-align: center;
}

header h1 {
    font-size: 8rem;
    text-transform: uppercase;
}

header p {
    font-size: 7rem;
}

h3 {
    font-size: 5rem;
}

.tasks input.tasksInput {
    font-size: 4rem;
    margin: 2rem 0;
    border: 1px solid black;
    padding: 1rem;
}

.tasks label {
    font-size: 4rem;
    display: block;
}

.tasks select{
    font-size: 3rem;
    padding: 1rem;
    margin: 2rem 0;
    background-color: #FFFFFF;
    border: 1px solid black;
    cursor: pointer;
}

select:focus{outline: 0}

input[type=range] {
    height: 38px;
    -webkit-appearance: none;
    margin: 2rem 0;
    width: 40%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: var(--color);
    border-radius: 5px;
    border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
}

div.importanceImg {
    display: inline-block;
    height: 7rem;
    width: 7rem;
    margin-left: 5rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("./img/horse.png");
}

.tasks button.addTask {
    display: block;
    font-size: 4rem;
    padding: 1rem 2rem;
    border: 5px solid var(--color);
    background-color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
}

button:focus{outline: 0}

section.weekDays {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section.weekDays div.day {
    min-height: 30vh;
    min-width: 40%;
    border: 5px solid var(--color);
    margin: 2rem 0;
    text-align: center;
}

section.weekDays ul{
    font-size: 4rem;
    text-align: left;
    list-style: none;
    padding-left: 5rem;
}

i{
    font-size: 3rem;
    margin-left: 2rem;
    cursor: pointer;
}


section.mainSection{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

section div.leftSide{
    width: 40%;
}

section.mainSection div.importantTasks {
    min-height: 30vh;
    border: 5px solid var(--color);
    margin: 2rem 0;
}



section.mainSection div.notes {
    min-height: 30vh;
    border: 5px solid var(--color);
    margin: 2rem 0;
}

section.mainSection div.notes textarea{
    height: 100%;
    width: 100%;
    font-size: 5rem;
    border: none;
    padding: 1rem;
}

section.mainSection div.allList {
    width: 40%;
    min-height: 60vh;
    border: 5px solid var(--color);
    margin: 2rem 0;
}

section ul{
    font-size: 4rem;
    text-align: left;
    list-style: none;
    padding-left: 5rem;
}

div.allList label{
    font-size: 4rem;
}

div.allList input{
    font-size: 4rem;
    border: 1px solid black;
    padding: 1rem;
    width: 80%;
}
